{% include 'publicheader.html' %}

<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
            	<center>
                <h2 class="animate__animated animate__fadeInDown"><span>LOGIN</span> </h2>
                
            	<form method="post">
                <table class="table" style="width: 500px;color: white">
					<tr>
						<th>Username</th>
						<td><input type="text" name="username" class="form-control"></td>
					</tr>
					<tr>
						<th>Password</th>
						<td><input type="password" name="password" class="form-control"></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><input type="submit" name="login" value="LOGIN" class="btn btn-danger"></td>
					</tr>
				</table>
				</form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  

{% include 'footer.html' %}



