{% include 'userheader.html' %}
<center>
	
<br><br><br><br><br><br>
<form method="post">

<h1 style="color:white" >View Work</h1>
<table class="table" style="width:500px;">
	<tr>
		<th>Work</th>
		<th>Detail</th>
		<th>Date</th>
	</tr>
	{% for row in data['view'] %}
	<tr>
		<td>{{row['work']}}</td>
		<td>{{row['detail']}}</td>
		<td>{{row['date']}}</td>
		{%if (row['amounts']!=row['bal_amt'])%}

		<td><a class="btn btn-success" href="usermakepayment?work_id={{row['work_id']}}&amounts={{row['amounts']}}&bal_amt={{row['amounts']}}">send donation </a></td>
		{% endif %}

	</tr>
	{% endfor %}
</table>
</div>
</center>

